.firstHeading {
	border-bottom: none;
	margin: 0 !important;
	display: none;
}

.pagetitle {
	display: inline !important;
}

#main {
	padding: 0 !important;
}

#user-page-left {
	width: 35%;
	float: left;
}

#user-page-right {
	float: right;
	width: 60%;
}

#user-page-left h2, #user-page-right h2 {
	border-bottom: 1px solid #dcdcdc;
	padding: 0 0 3px 0;
	margin: 0 0 5px 0;
	font-size: 17px;
	letter-spacing: -1px;
	color: #333;
}

.no-info-container {
	margin: 10px 0 20px 0;
	background-color: #f2f4f7;
	padding: 20px;
	text-align: center;
	color: #777;
}

.item-small {
	color: #999;
	font-size: 9px;
	margin: 0 0 0 6px;
}

.user-section-heading {
	border-bottom: 1px solid #DCDCDC;
	width: 100%;
	line-height: 22px;
	margin: 0 0 8px 0;
}

.user-section-title {
	float: left;
	font-size: 20px;
	letter-spacing: -1px;
	padding: 0 10px 0 0;
}

.user-section-actions {
	position: relative;
	right: 0;
	top: -2px;
}

.action-right {
	float: right;
	font-size: 10px;
	padding: 0 5px 0 0;
}

.action-left {
	float: left;
	font-size: 10px;
}

.user-section-actions a {
	text-decoration: none;
}

/* Profile Top */
#profile-top {
	border-bottom: 1px solid #d4dfd7;
	padding: 10px 0;
	margin: 0 0 10px 0;
	position: relative;
}

#profile-toggle-button {
	background-color: #ffa500;
	top: 5px;
	right: 0;
	padding: 2px 10px;
	position: absolute;
}

#profile-toggle-button a {
	color: #fff;
	font-weight: 700;
}

#profile-title-container {
	padding: 0 0 6px 6px;
}

#profile-title {
	font-size: 2em;
	font-weight: 700;
	line-height: 26px;
	float: left;
	margin: 0 15px 0 0;
}

#points-level {
	background-color: #c00;
	font-size: 11px;
	text-align: center;
	float: left;
	padding: 1px 5px;
	margin: 4px 8px 0 0;
}

#honorific-level {
	font-size: 12px;
	float: left;
	margin: 4px 0 0 0;
}

#honorific-level a {
	text-decoration: none;
}

#points-level a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

#profile-image {
	float: left;
	margin: 0 8px 0 0;
	position: relative;
}

#profile-image img {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
}

/* Avatar removal link below the avatar -- make the text a bit smaller and center it */
#profile-image p {
	font-size: 75%;
	margin: 0 auto;
	text-align: center;
}

#profile-right {
	float: left;
	position: relative;
}

.profile-actions a {
	text-decoration: none;
	font-weight: 700;
	margin: 0 6px;
}

/* User-Relationship */
.user-relationship-container {
	padding: 0 0 25px 0;
}

.user-relationship-container a {
	text-decoration: none;
	float: left;
	margin: 5px 10px 0 0;
	display: block;
}

.user-relationship-container img {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
}

/* User Gift / User Awards */
.user-gift-container {
	padding: 0 0 25px 0;
}

.user-gift-container a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 5px 10px 0 0;
}

.user-gift-container img {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
}

/* Fanboxes */
.user-fanbox-container {
	padding: 0 0 25px 0;
}

/* User Activity */
.activity-item {
	border-bottom: 1px solid #dcdcdc;
	padding: 7px 0;
}

.activity-item-bottom {
	padding: 7px 0 0 0;
}

.activity-item img, .activity-item-bottom img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.activity-item a, .activity-item-bottom a {
	text-decoration: none;
}

.item {
	color: #666;
	margin: 5px 25px;
}

.item a {
	font-weight: 700;
}

#recent-all {
	padding: 0 0 25px 0;
}

/* Message Board */
#user-page-board {
	margin: 5px 0 10px 0;
}

.user-page-message-form,
.user-page-message-form-blocked {
	margin: 5px 0 15px 0;
	font-weight: 700;
}

.user-page-message-form-blocked {
	color: #f00;
}

.user-board-message {
	border: 1px solid #e2e2e2;
	margin: 0 0 15px 0;
}

.user-board-message-from {
	background-color: #F8F5F5;
	padding: 3px 0 5px 5px;
}

.user-board-message-from a {
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}

.user-board-message-content {
	padding: 5px;
}

.user-board-message-time {
	color: #797979;
	font-size: 11px;
	margin: 2px 0 0 5px;
}

.user-board-message-image {
	float: left;
	padding: 0 10px 5px 0;
}

.user-board-message-image img {
	border: 1px solid #dcdcdc;
}

.user-board-message-body {
	margin: 0 10px 0 0;
}

.user-board-message-body p {
	margin: 0 !important;
}

.user-board-message-links {
	padding: 0 0 5px 5px;
}

.user-board-message-links a {
	font-size: 11px;
	text-decoration: none;
	margin: 0 10px 0 0;
}

.user-board-red a {
	color: #f00;
}

/* Profile Data */
.profile-info-container {
	padding: 0 0 17px 0;
}

.profile-info-container b {
	color: #555;
	margin: 0 10px 0 0;
}

.profile-info-container div {
	margin: 0 0 8px 0;
	color: #666;
}

.bold-fix b {
	margin: 0 5px 0 0 !important;
}

/* Casual Games */
.casual-game-container {
	padding: 0 0 18px 0;
}

.casual-game-container p {
	border-top: 1px solid #dcdcdc;
	padding: 7px 0 !important;
	margin: 0 !important;
}

.casual-game-container .item-top {
	border: 0;
}

.casual-game-container a {
	font-weight: 700;
	text-decoration: none;
}

.casual-game-container .item-type {
	font-size: 9px;
	margin: 0 0 0 6px;
}

.casual-game-container img {
	border: 1px solid #dcdcdc;
	padding: 3px;
	background-color: #fff;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

/* User Articles */
.user-articles-container {
	padding: 0 0 23px 0;
}

.article-item {
	margin: 0;
	padding: 7px 0 2px 0;
	border-top: 1px solid #dcdcdc;
}

.user-articles-container a {
	text-decoration: none;
	font-weight: 700;
}

.article-item-top {
	margin: 0;
	padding: 7px 0 2px 0;
	border: none;
}

.number-of-votes {
	margin: 0 10px 3px 0;
	text-align: center;
	float: left;
	width: 25px;
}

.vote-number {
	background-color: #89c46f;
	color: #fff;
	font-size: 12px !important;
	margin: 0 0 2px 0;
	font-weight: 700;
	height: 25px;
	line-height: 25px;
}

.vote-text {
	color: #777;
	font-size: 9px;
	line-height: 9px;
	margin: -1px 0 0 0;
}

/* Pictures */
.picture-container-spacer {
	height: 25px;
	width: 100%;
}

.picture-container .mini-image {
	float: left;
	margin: 5px 10px 0 0;
}

.picture-container img {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
}

.picture-container a {
	text-decoration: none;
}

.upload-container {
	clear: left;
	height: 90px;
	margin-left: -5px;
}

.upload-frame-errors {
	margin: 10px 0 5px 0;
	color: #f00;
	font-size: 14px;
	font-weight: 700;
}

.no-pictures-container {
	background-color: #eff3f0;
	color: #777;
	padding: 20px;
	margin: 10px 0 0;
	text-align: center;
}

.upload-frame-errors {
	display: none;
}

.imageUpload-frame {
	height: 90px;
	width: 425px;
}
