/* Hide no-JS checkboxes when the user has JavaScript enabled */
.client-js #blast-friends-list input[type="checkbox"] {
	display: none;
}

/* Hide "select all"/"unselect all" links for no-JS users */
.client-nojs .blast-nav-links {
	display: none;
}

#blast-friends-list div.blast-friend-selected,
#blast-friends-list div.blast-foe-selected {
	background-color: #fffca9;
	border: 1px solid #fdc745;
	color: #002bb8;
	font-weight: 700;
	overflow: hidden;
	float: left;
	cursor: pointer;
	height: 17px;
	width: 200px;
	padding: 4px;
	margin: 0 3px 3px 0;
}

#blast-friends-list div.blast-friend-unselected,
#blast-friends-list div.blast-foe-unselected {
	border: 1px solid #dcdcdc;
	color: #285c98;
	font-weight: 700;
	overflow: hidden;
	float: left;
	cursor: pointer;
	height: 17px;
	width: 200px;
	padding: 4px;
	margin: 0 3px 3px 0;
}

.board-blast-message-form {
	margin: 8px 0 0 0;
}

.blast-nav {
	margin: 0 0 12px 0;
	font-size: 12px;
}

.blast-nav a {
	color: #999;
}

.blast-nav-text {
	margin: 0 0 5px 0;
}

.blast-message-box-button {
	padding: 10px 0 0 0;
}

.blast-message-text {
	color: #999;
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 3px 0;
}

.board-blast-message-form h2 {
	color: #333;
	margin: 0 0 10px 0 !important;
}

.blast-nav h2 {
	color: #333;
	margin: 15px 0 10px 0 !important;
}
