form[name="gift"] table {
	border: 0;
	border-collapse: collapse;
	padding: 5px;
	width: 500px;
}

form[name="gift"] table img {
	border: 0;
}

.view-form {
	color: #666;
	font-size: 12px;
	font-weight: 800;
	width: 200px;
}

.view-container {
	width: 695px;
}

.view-status {
	background-color: #fffb9b;
	color: #666;
	font-size: 12px;
	font-weight: 800;
	padding: 5px;
	margin-bottom: 5px;
}

a.ga-remove-link {
	color: #f00;
	font-size: 10px;
}
