/* Main Page welcome user */
.mp-welcome-logged-in {
	margin: 0 0 0 15px;
}

.mp-welcome-logged-in h2 {
	font-size: 20px;
	line-height: 24px;
	border-bottom: none;
	padding: 8px 0 10px 0 !important;
	margin: 0 0 0 0 !important;
}

.mp-welcome-info {
	float: left;
	width: 240px;
}

.mp-welcome-image {
	text-align: center;
	float: left;
	margin: 0 10px 0 0;
}

.mp-welcome-image a {
	font-size: 10px;
	text-decoration: none;
}

.mp-welcome-image img {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
}

.mp-welcome-points {
	float: left;
	width: 200px;
}

.points-and-level {
	margin: 0 0 3px;
}

.needed-points {
	color: #666;
	font-size: 10px;
	line-height: 12px;
	padding: 5px 0 0;
}

.total-points {
	background-color: #c00;
	color: #fff;
	float: left;
	font-size: 12px;
	font-weight: 700;
	margin: 0 5px 0 0;
	padding: 1px 5px;
	text-align: center;
}

.honorific-level {
	float: left;
}
